ops/node-red/data/.flows.json.backup
[{"id":"86fb87bfaac1f512","type":"tab","label":"Admin ReUse","disabled":false,"info":""},{"id":"tab1","type":"ui_tab","name":"ReUse Admin","icon":"dashboard","disabled":false,"hidden":false},{"id":"grp1","type":"ui_group","name":"Feature Flags","tab":"tab1","order":1,"disp":true,"width":"6"},{"id":"88c62f6c8bb15dfc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e6240687ec4ee264","type":"ui_group","name":"Itens","tab":"tab1","order":1,"disp":true,"width":"12"},{"id":"b3711b7b53ce5371","type":"ui_group","name":"Novo/Editar Item","tab":"tab1","order":2,"disp":true,"width":"12"},{"id":"e2ced30263e83cb6","type":"ui_group","name":"Moderação","tab":"tab1","order":3,"disp":true,"width":"12"},{"id":"grpItems","type":"ui_group","name":"Itens","tab":"tab1","order":1,"disp":true,"width":"12"},{"id":"grpForm","type":"ui_group","name":"Novo/Editar Item","tab":"tab1","order":2,"disp":true,"width":"12"},{"id":"grpMod","type":"ui_group","name":"Moderação","tab":"tab1","order":3,"disp":true,"width":"12"},{"id":"eb9079fd8ec7a1a6","type":"ui_tab","name":"Itens","icon":"list"},{"id":"898a0b0a5a0142cf","type":"ui_tab","name":"Usuários","icon":"account_circle"},{"id":"d2926bc66d3ed455","type":"ui_tab","name":"Categorias","icon":"category"},{"id":"dc256a8ebc460181","type":"ui_group","name":"Formulário","tab":"eb9079fd8ec7a1a6","order":2,"disp":true,"width":"12"},{"id":"901a698b9aef08f1","type":"ui_group","name":"Lista","tab":"898a0b0a5a0142cf","order":1,"disp":true,"width":"12"},{"id":"fa7864d3bc7a44c9","type":"ui_group","name":"Formulário","tab":"898a0b0a5a0142cf","order":2,"disp":true,"width":"12"},{"id":"48269dd1c3790dba","type":"ui_group","name":"Lista","tab":"d2926bc66d3ed455","order":1,"disp":true,"width":"12"},{"id":"6472e59524dc104c","type":"ui_group","name":"Formulário","tab":"d2926bc66d3ed455","order":2,"disp":true,"width":"12"},{"id":"5f45778c3b5ea870","type":"ui_tab","name":"Itens","icon":"list"},{"id":"563f1ef4ec6b82e1","type":"ui_tab","name":"Usuários","icon":"account_circle"},{"id":"170a1280a611b6f6","type":"ui_tab","name":"Categorias","icon":"category"},{"id":"5a3162b72f83a61c","type":"ui_group","name":"Formulário","tab":"5f45778c3b5ea870","order":2,"disp":true,"width":"12"},{"id":"36805995e310dc7d","type":"ui_group","name":"Lista","tab":"563f1ef4ec6b82e1","order":1,"disp":true,"width":"12"},{"id":"87d5435f695ff054","type":"ui_group","name":"Formulário","tab":"563f1ef4ec6b82e1","order":2,"disp":true,"width":"12"},{"id":"6c77f268b5db1abd","type":"ui_group","name":"Lista","tab":"170a1280a611b6f6","order":1,"disp":true,"width":"12"},{"id":"170c4602f5ea350f","type":"ui_group","name":"Formulário","tab":"170a1280a611b6f6","order":2,"disp":true,"width":"12"},{"id":"3dceca895deb5d5c","type":"inject","z":"86fb87bfaac1f512","name":"seed","props":[{"p":"payload"}],"once":true,"onceDelay":0.5,"payload":"{}","payloadType":"json","x":120,"y":40,"wires":[["2e1da4ab9ea4dbaf"]]},{"id":"2e1da4ab9ea4dbaf","type":"function","z":"86fb87bfaac1f512","name":"seed data","func":"const now=new Date().toISOString();\n// items\nflow.set('items',[\n {id:'it-1',title:'Bicicleta',description:'semi-nova',images:[],category_id:'cat-moveis',owner_id:'u-1',status:'pending_review',condition:'used',location:{city:'Rio',uf:'RJ'},created_at:now,updated_at:now},\n {id:'it-2',title:'Fone BT',description:'ok',images:[],category_id:'cat-eletronicos',owner_id:'u-2',status:'approved',condition:'refurbished',location:{city:'Niterói',uf:'RJ'},created_at:now,updated_at:now}\n]);\n// users\nflow.set('users',[\n {id:'u-1',name:'Maria',email:'maria@ex.com',role:'user',status:'active',created_at:now},\n {id:'u-2',name:'João',email:'joao@ex.com',role:'admin',status:'active',created_at:now}\n]);\n// categories\nflow.set('categories',[\n {id:'cat-eletronicos',name:'Eletrônicos',enabled:true},\n {id:'cat-moveis',name:'Móveis',enabled:true}\n]);\nreturn msg;","outputs":1,"x":300,"y":40,"wires":[["fdc7865ea02619d2"]]},{"id":"fdc7865ea02619d2","type":"inject","z":"86fb87bfaac1f512","name":"load items","props":[{"p":"payload"}],"payloadType":"date","x":130,"y":100,"wires":[["aec984a04fb921ae"]]},{"id":"aec984a04fb921ae","type":"function","z":"86fb87bfaac1f512","name":"items → table","func":"const items=flow.get('items')||[];\nmsg.payload=items.map(i=>({id:i.id,title:i.title,category:i.category_id,status:i.status,created:i.created_at}));\nreturn msg;","outputs":1,"x":320,"y":100,"wires":[["6a76e5d2b194e520"]]},{"id":"6a76e5d2b194e520","type":"ui_table","z":"86fb87bfaac1f512","group":"grpItems","name":"Itens","order":1,"width":"12","height":"8","columns":[{"field":"id","title":"ID"},{"field":"title","title":"Título"},{"field":"category","title":"Categoria"},{"field":"status","title":"Status"},{"field":"created","title":"Criado em"}],"outputs":0,"x":510,"y":100,"wires":[]},{"id":"ef962caf5fe14c2e","type":"function","z":"86fb87bfaac1f512","name":"cats → dropdown options","func":"const cats = flow.get('categories') || [];\nmsg.options = cats.map(c => ({ label: c.name, value: c.id }));\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":160,"wires":[["5bc2e7b9c9af3076"]]},{"id":"5bc2e7b9c9af3076","type":"ui_dropdown","z":"86fb87bfaac1f512","name":"Categoria","label":"Categoria","tooltip":"","place":"Selecione uma categoria","group":"5a3162b72f83a61c","order":0,"width":"6","height":"1","passthru":false,"multiple":false,"options":[],"payload":"value","topic":"category_id","topicType":"str","className":"","x":540,"y":160,"wires":[["d7cba0fa55ee4558"]]},{"id":"d7cba0fa55ee4558","type":"change","z":"86fb87bfaac1f512","name":"set flow.selectedCategoryId","rules":[{"t":"set","p":"selectedCategoryId","pt":"flow","to":"payload","tot":"msg"}],"x":800,"y":160,"wires":[[]]},{"id":"76e9f5eb99f8f345","type":"ui_form","z":"86fb87bfaac1f512","name":"Novo Item","label":"Novo Item","group":"5a3162b72f83a61c","order":1,"width":"12","height":"6","options":[{"label":"Título","value":"title","type":"text","required":true,"rows":null},{"label":"Descrição","value":"description","type":"text","required":true,"rows":null},{"label":"Condição (new|used|refurbished)","value":"condition","type":"text","required":true,"rows":null},{"label":"Cidade","value":"city","type":"text","required":true,"rows":null},{"label":"UF","value":"uf","type":"text","required":true,"rows":null}],"formValue":{"title":"","description":"","condition":"","city":"","uf":""},"submit":"Cadastrar Item","cancel":"Cancelar","topic":"","topicType":"str","splitLayout":false,"className":"","x":140,"y":220,"wires":[["9c99d0d726158c67"]]},{"id":"9c99d0d726158c67","type":"function","z":"86fb87bfaac1f512","name":"validate & create item","func":"const p=msg.payload||{};\nfunction bad(m){node.status({fill:'red',shape:'ring',text:m});return {payload:{ok:false,message:m}}}\nconst category_id=flow.get('selectedCategoryId');\nif(!category_id) return bad('Selecione uma categoria');\nif(!p.title||p.title.length<3) return bad('Título inválido');\nif(!['new','used','refurbished'].includes(p.condition)) return bad('Condição inválida');\nconst items=flow.get('items')||[]; const id='it-'+Date.now(); const now=new Date().toISOString();\nitems.unshift({id,title:p.title,description:p.description||'',images:[],category_id,owner_id:'admin',status:'pending_review',condition:p.condition,location:{city:p.city,uf:p.uf},created_at:now,updated_at:now});\nflow.set('items',items); node.status({});\nreturn [ {payload:{ok:true,id}}, null ];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":220,"wires":[["526c38f7397a3b52"],["fdc7865ea02619d2"]]},{"id":"526c38f7397a3b52","type":"ui_toast","z":"86fb87bfaac1f512","position":"top right","displayTime":"3","outputs":0,"name":"OK","x":560,"y":220,"wires":[]},{"id":"2e791a9241133d9e","type":"http in","z":"86fb87bfaac1f512","name":"GET /api/items","url":"/api/items","method":"get","upload":false,"x":130,"y":280,"wires":[["7d98179db0392813"]]},{"id":"7d98179db0392813","type":"function","z":"86fb87bfaac1f512","name":"read items (mock)","func":"msg.payload=flow.get('items')||[]; return msg;","outputs":1,"x":340,"y":280,"wires":[["78463c3f96debe26"]]},{"id":"1e32fbae43be2391","type":"http in","z":"86fb87bfaac1f512","name":"POST /api/items","url":"/api/items","method":"post","upload":false,"x":140,"y":320,"wires":[["e38f6b4c60ab276c"]]},{"id":"e38f6b4c60ab276c","type":"function","z":"86fb87bfaac1f512","name":"create item (mock)","func":"const p=msg.payload||{}; if(!p.title){msg.statusCode=400; msg.payload={ok:false}; return msg;}\nconst items=flow.get('items')||[]; const id='it-'+Date.now(); const now=new Date().toISOString();\nitems.unshift({id,title:p.title,description:p.description||'',images:p.images||[],category_id:p.category_id||'cat-eletronicos',owner_id:p.owner_id||'admin',status:p.status||'pending_review',condition:p.condition||'used',location:p.location||{city:'',uf:''},created_at:now,updated_at:now});\nflow.set('items',items); msg.payload={ok:true,id}; return msg;","outputs":1,"x":360,"y":320,"wires":[["78463c3f96debe26"]]},{"id":"98a5691034289ed3","type":"inject","z":"86fb87bfaac1f512","name":"load users","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":120,"y":400,"wires":[["f3589f7f761d2f9a"]]},{"id":"f3589f7f761d2f9a","type":"function","z":"86fb87bfaac1f512","name":"users → table","func":"const users=flow.get('users')||[]; msg.payload=users.map(u=>({id:u.id,name:u.name,email:u.email,role:u.role,status:u.status})); return msg;","outputs":1,"x":320,"y":400,"wires":[["6c1786c23082453d"]]},{"id":"6c1786c23082453d","type":"ui_table","z":"86fb87bfaac1f512","group":"36805995e310dc7d","name":"Usuários","order":1,"width":"12","height":"8","columns":[{"field":"id","title":"ID"},{"field":"name","title":"Nome"},{"field":"email","title":"Email"},{"field":"role","title":"Papel"},{"field":"status","title":"Status"}],"outputs":0,"x":510,"y":400,"wires":[]},{"id":"ce24acbd6069e15a","type":"ui_form","z":"86fb87bfaac1f512","name":"Novo Usuário","label":"Novo Usuário","group":"87d5435f695ff054","order":1,"width":"12","height":"5","options":[{"label":"Nome","value":"name","type":"text","required":true,"rows":null},{"label":"Email","value":"email","type":"text","required":true,"rows":null},{"label":"Papel (user|admin)","value":"role","type":"text","required":true,"rows":null}],"formValue":{"name":"","email":"","role":""},"submit":"Cadastrar Usuário","cancel":"Cancelar","topic":"","topicType":"str","splitLayout":false,"className":"","x":130,"y":460,"wires":[["154349a58cb17ad5"]]},{"id":"154349a58cb17ad5","type":"function","z":"86fb87bfaac1f512","name":"create user","func":"const p=msg.payload||{}; if(!p.name||!p.email) return {payload:{ok:false}};\nconst users=flow.get('users')||[]; const id='u-'+Date.now(); const now=new Date().toISOString();\nusers.unshift({id,name:p.name,email:p.email,role:(p.role==='admin'?'admin':'user'),status:'active',created_at:now});\nflow.set('users',users); return [{payload:{ok:true,id}},null];","outputs":2,"x":330,"y":460,"wires":[["526c38f7397a3b52"],[]]},{"id":"b97c6c5241e22c62","type":"http in","z":"86fb87bfaac1f512","name":"GET /api/users","url":"/api/users","method":"get","upload":false,"x":120,"y":520,"wires":[["5a35476565e7aa5f"]]},{"id":"5a35476565e7aa5f","type":"function","z":"86fb87bfaac1f512","name":"read users (mock)","func":"msg.payload=flow.get('users')||[]; return msg;","outputs":1,"x":330,"y":520,"wires":[["78463c3f96debe26"]]},{"id":"42cd0b2a65bf6919","type":"http in","z":"86fb87bfaac1f512","name":"POST /api/users","url":"/api/users","method":"post","upload":false,"x":130,"y":560,"wires":[["30f1fe6dd1aa11c9"]]},{"id":"30f1fe6dd1aa11c9","type":"function","z":"86fb87bfaac1f512","name":"create user (mock)","func":"const p=msg.payload||{}; if(!p.name||!p.email){msg.statusCode=400; msg.payload={ok:false}; return msg;}\nconst users=flow.get('users')||[]; const id='u-'+Date.now(); const now=new Date().toISOString();\nusers.unshift({id,name:p.name,email:p.email,role:(p.role==='admin'?'admin':'user'),status:'active',created_at:now}); flow.set('users',users); msg.payload={ok:true,id}; return msg;","outputs":1,"x":360,"y":560,"wires":[["78463c3f96debe26"]]},{"id":"56ad71433b9bca59","type":"inject","z":"86fb87bfaac1f512","name":"load cats","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":120,"y":640,"wires":[["9be9df2e2a6a882a","ef962caf5fe14c2e"]]},{"id":"9be9df2e2a6a882a","type":"function","z":"86fb87bfaac1f512","name":"cats → table","func":"const cats=flow.get('categories')||[]; msg.payload=cats.map(c=>({id:c.id,name:c.name,enabled:c.enabled})); return msg;","outputs":1,"x":320,"y":640,"wires":[["70f541310608c1af"]]},{"id":"70f541310608c1af","type":"ui_table","z":"86fb87bfaac1f512","group":"6c77f268b5db1abd","name":"Categorias","order":1,"width":"12","height":"6","columns":[{"field":"id","title":"ID"},{"field":"name","title":"Nome"},{"field":"enabled","title":"Ativa"}],"outputs":0,"x":510,"y":640,"wires":[]},{"id":"031470e9f93f8ec3","type":"ui_form","z":"86fb87bfaac1f512","name":"Nova Categoria","label":"Nova Categoria","group":"170c4602f5ea350f","order":1,"width":"12","height":"4","options":[{"label":"Nome","value":"name","type":"text","required":true,"rows":null},{"label":"Ativa (true/false)","value":"enabled","type":"text","required":true,"rows":null}],"formValue":{"name":"","enabled":""},"submit":"Cadastrar Categoria","cancel":"Cancelar","topic":"","topicType":"str","splitLayout":false,"className":"","x":140,"y":700,"wires":[["0ae60ad82ebc2ff9"]]},{"id":"0ae60ad82ebc2ff9","type":"function","z":"86fb87bfaac1f512","name":"create cat","func":"const p=msg.payload||{}; if(!p.name) return {payload:{ok:false}}; const cats=flow.get('categories')||[];\nconst id='cat-'+Date.now(); cats.unshift({id,name:p.name,enabled:String(p.enabled).toLowerCase()==='true'}); flow.set('categories',cats);\nreturn [{payload:{ok:true,id}},null];","outputs":2,"x":320,"y":700,"wires":[["526c38f7397a3b52","ef962caf5fe14c2e"],[]]},{"id":"449a1511e3190bfb","type":"ui_button","z":"86fb87bfaac1f512","name":"Ativar/Desativar","group":"6c77f268b5db1abd","order":2,"width":"4","height":"1","label":"Ativar/Desativar","x":170,"y":760,"wires":[["1ca5b9815ed280c5"]]},{"id":"1ca5b9815ed280c5","type":"function","z":"86fb87bfaac1f512","name":"toggle cat","func":"const cats=flow.get('categories')||[]; const id=(cats[0]&&cats[0].id)||null; if(!id) return null; const c=cats.find(x=>x.id===id); if(c){c.enabled=!c.enabled; flow.set('categories',cats);} return {payload:true};","outputs":1,"x":360,"y":760,"wires":[["526c38f7397a3b52"]]},{"id":"4e812e71a86ad362","type":"http in","z":"86fb87bfaac1f512","name":"GET /api/categories","url":"/api/categories","method":"get","upload":false,"x":150,"y":820,"wires":[["e73996363b0dcae4"]]},{"id":"e73996363b0dcae4","type":"function","z":"86fb87bfaac1f512","name":"read cats (mock)","func":"msg.payload=flow.get('categories')||[]; return msg;","outputs":1,"x":360,"y":820,"wires":[["78463c3f96debe26"]]},{"id":"0cf2209d5485f491","type":"http in","z":"86fb87bfaac1f512","name":"POST /api/categories","url":"/api/categories","method":"post","upload":false,"x":160,"y":860,"wires":[["bb230c820562b78a"]]},{"id":"bb230c820562b78a","type":"function","z":"86fb87bfaac1f512","name":"create cat (mock)","func":"const p=msg.payload||{}; if(!p.name){msg.statusCode=400; msg.payload={ok:false}; return msg;}\nconst cats=flow.get('categories')||[]; const id='cat-'+Date.now(); cats.unshift({id,name:p.name,enabled:!!p.enabled}); flow.set('categories',cats); msg.payload={ok:true,id}; return msg;","outputs":1,"x":390,"y":860,"wires":[["78463c3f96debe26"]]},{"id":"78463c3f96debe26","type":"http response","z":"86fb87bfaac1f512","name":"","x":620,"y":320,"wires":[]}]