ops/node-red/data/flows.json
[{"id":"cb65f18433f20c4d","type":"tab","label":"Chatbot","disabled":false,"info":"","env":[]},{"id":"29d561e310460453","type":"tab","label":"Admin ReUse","disabled":false,"info":""},{"id":"5d0dca05a865b19f","type":"tab","label":"Admin","disabled":false,"info":"","env":[]},{"id":"tab1","type":"ui_tab","name":"ReUse Admin","icon":"dashboard","disabled":false,"hidden":false},{"id":"grp1","type":"ui_group","name":"Feature Flags","tab":"tab1","order":1,"disp":true,"width":"6"},{"id":"88c62f6c8bb15dfc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e6240687ec4ee264","type":"ui_group","name":"Itens","tab":"tab1","order":1,"disp":true,"width":"12"},{"id":"b3711b7b53ce5371","type":"ui_group","name":"Novo/Editar Item","tab":"tab1","order":2,"disp":true,"width":"12"},{"id":"e2ced30263e83cb6","type":"ui_group","name":"Moderação","tab":"tab1","order":3,"disp":true,"width":"12"},{"id":"grpItems","type":"ui_group","name":"Itens","tab":"tab1","order":1,"disp":true,"width":"12"},{"id":"grpForm","type":"ui_group","name":"Novo/Editar Item","tab":"tab1","order":2,"disp":true,"width":"12"},{"id":"grpMod","type":"ui_group","name":"Moderação","tab":"tab1","order":3,"disp":true,"width":"12"},{"id":"eb9079fd8ec7a1a6","type":"ui_tab","name":"Itens","icon":"list"},{"id":"898a0b0a5a0142cf","type":"ui_tab","name":"Usuários","icon":"account_circle"},{"id":"d2926bc66d3ed455","type":"ui_tab","name":"Categorias","icon":"category"},{"id":"dc256a8ebc460181","type":"ui_group","name":"Formulário","tab":"eb9079fd8ec7a1a6","order":2,"disp":true,"width":"12"},{"id":"901a698b9aef08f1","type":"ui_group","name":"Lista","tab":"898a0b0a5a0142cf","order":1,"disp":true,"width":"12"},{"id":"fa7864d3bc7a44c9","type":"ui_group","name":"Formulário","tab":"898a0b0a5a0142cf","order":2,"disp":true,"width":"12"},{"id":"48269dd1c3790dba","type":"ui_group","name":"Lista","tab":"d2926bc66d3ed455","order":1,"disp":true,"width":"12"},{"id":"6472e59524dc104c","type":"ui_group","name":"Formulário","tab":"d2926bc66d3ed455","order":2,"disp":true,"width":"12"},{"id":"5f45778c3b5ea870","type":"ui_tab","name":"Itens","icon":"list"},{"id":"563f1ef4ec6b82e1","type":"ui_tab","name":"Usuários","icon":"account_circle"},{"id":"170a1280a611b6f6","type":"ui_tab","name":"Categorias","icon":"category"},{"id":"5a3162b72f83a61c","type":"ui_group","name":"Formulário","tab":"5f45778c3b5ea870","order":2,"disp":true,"width":"12"},{"id":"36805995e310dc7d","type":"ui_group","name":"Lista","tab":"563f1ef4ec6b82e1","order":1,"disp":true,"width":"12"},{"id":"87d5435f695ff054","type":"ui_group","name":"Formulário","tab":"563f1ef4ec6b82e1","order":2,"disp":true,"width":"12"},{"id":"6c77f268b5db1abd","type":"ui_group","name":"Lista","tab":"170a1280a611b6f6","order":1,"disp":true,"width":"12"},{"id":"170c4602f5ea350f","type":"ui_group","name":"Formulário","tab":"170a1280a611b6f6","order":2,"disp":true,"width":"12"},{"id":"f297c74a903b7fde","type":"inject","z":"cb65f18433f20c4d","name":"Pausar ofertas ativas","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"quero pausar minhas ofertas ativas","payload":"quero pausar minhas ofertas ativas","payloadType":"str","x":180,"y":180,"wires":[["146ee5ad491d3895"]]},{"id":"146ee5ad491d3895","type":"switch","z":"cb65f18433f20c4d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"pausar","vt":"str"},{"t":"cont","v":"ofertas","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":180,"wires":[["6cb7b4a0b1b379e3"],["6cb7b4a0b1b379e3"]]},{"id":"6cb7b4a0b1b379e3","type":"http request","z":"cb65f18433f20c4d","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"/api/items/pause","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":670,"y":180,"wires":[["722e328a92ea64d4"]]},{"id":"722e328a92ea64d4","type":"template","z":"cb65f18433f20c4d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Todas as suas ofertas foram pausadas com sucesso!","output":"str","x":880,"y":160,"wires":[[]]},{"id":"1f95eb298432b86b","type":"inject","z":"cb65f18433f20c4d","name":"Cadastrar novo item","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"quero cadastrar um novo item","payloadType":"str","x":170,"y":340,"wires":[["7684f0ac9d4d05e2"]]},{"id":"7684f0ac9d4d05e2","type":"switch","z":"cb65f18433f20c4d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"cadastrar","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":340,"wires":[["d2a3c27c5b910a61"]]},{"id":"d84e399597270ddb","type":"http request","z":"cb65f18433f20c4d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"/api/item","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":890,"y":380,"wires":[["50238872ee46601a"]]},{"id":"d2a3c27c5b910a61","type":"template","z":"cb65f18433f20c4d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Qual o nome do item?","output":"json","x":560,"y":360,"wires":[["74a428e55a768c8a"]]},{"id":"74a428e55a768c8a","type":"function","z":"cb65f18433f20c4d","name":"function 1","func":"{ \"name\": \"Livro Clean Code\" }","outputs":1,"timeout":0,"noerr":1,"initialize":"","finalize":"","libs":[],"x":720,"y":380,"wires":[["d84e399597270ddb"]]},{"id":"50238872ee46601a","type":"template","z":"cb65f18433f20c4d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Seu item {{payload.item}} foi cadastrado.","output":"json","x":1040,"y":300,"wires":[[]]},{"id":"328f4d8e57c68e14","type":"inject","z":"29d561e310460453","name":"seed","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"{}","payloadType":"json","x":120,"y":40,"wires":[["0bf9473ba5d70268"]]},{"id":"0bf9473ba5d70268","type":"function","z":"29d561e310460453","name":"seed data (config backend + users)","func":"const now = new Date().toISOString();\n\n// configura backend\nflow.set('apiUrl', 'http://host.docker.internal:3000');\n\n// ATENÇÃO: cole aqui um accessToken válido (admin ou user)\nflow.set('accessToken', 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjbWhqbzgxcHcwMDBmcnYzbnBzNm50eml6IiwiaWF0IjoxNzYyMjY2OTg0LCJleHAiOjE3NjIyNjc4ODR9.HDEL8u4cKhNXErTOAM0bruR4J_oQCfdwoVIppMLT9Os');\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":40,"wires":[["03774ce20a75a769"]]},{"id":"c07fceb65010e0a9","type":"inject","z":"29d561e310460453","name":"load items","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["2494687a387a9991"]]},{"id":"2494687a387a9991","type":"function","z":"29d561e310460453","name":"prep GET /items","func":"const apiUrl = flow.get('apiUrl') || 'http://localhost:3000';\nconst access = flow.get('accessToken');\n\nmsg.method = 'GET';\nmsg.url = 'http://host.docker.internal:3000/items?page=1&limit=10';\n\nmsg.headers = {};\nif (access) {\n    msg.headers.Authorization = 'Bearer ' + access;\n}\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":100,"wires":[["80d9e012a672be1f"]]},{"id":"80d9e012a672be1f","type":"http request","z":"29d561e310460453","name":"GET backend /items","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"bearer","senderr":false,"headers":[],"x":540,"y":100,"wires":[["b2b9d4a5562bef48"]]},{"id":"b2b9d4a5562bef48","type":"function","z":"29d561e310460453","name":"items → table","func":"const res = msg.payload || {};\nconst data = res.data || {};\nconst items = data.items || [];\n\nmsg.payload = items.map(i => ({\n  id: i.id,\n  title: i.title,\n  category: i.categoryId || (i.category && i.category.name) || null,\n  status: i.status,\n  created: i.createdAt\n}));\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":100,"wires":[["92641806bafee3b5"]]},{"id":"92641806bafee3b5","type":"ui_table","z":"29d561e310460453","group":"grpItems","name":"Itens","order":1,"width":"12","height":"8","columns":[{"field":"id","title":"ID","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"title","title":"Título","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"category","title":"Categoria","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"status","title":"Status","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"created","title":"Criado em","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":950,"y":100,"wires":[]},{"id":"dff431766c5ebbc1","type":"function","z":"29d561e310460453","name":"cats → dropdown options","func":"const res = msg.payload || {};\nconst cats = res.data || [];\n\nmsg.options = cats.map(c => ({ label: c.name, value: c.id }));\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":640,"wires":[["e3864c7173e390e9"]]},{"id":"e3864c7173e390e9","type":"ui_dropdown","z":"29d561e310460453","name":"Categoria","label":"Categoria","tooltip":"","place":"Selecione uma categoria","group":"5a3162b72f83a61c","order":0,"width":"6","height":"1","passthru":false,"multiple":false,"options":[],"payload":"value","topic":"category_id","topicType":"str","className":"","x":980,"y":640,"wires":[["6c6d037364269304"]]},{"id":"6c6d037364269304","type":"change","z":"29d561e310460453","name":"set flow.selectedCategoryId","rules":[{"t":"set","p":"selectedCategoryId","pt":"flow","to":"payload","tot":"msg"}],"x":1240,"y":640,"wires":[[]]},{"id":"d1a638c5baaef2d9","type":"ui_form","z":"29d561e310460453","name":"Novo Item","label":"Novo Item","group":"5a3162b72f83a61c","order":1,"width":"12","height":"6","options":[{"label":"Título","value":"title","type":"text","required":true,"rows":null},{"label":"Descrição","value":"description","type":"text","required":true,"rows":null},{"label":"Condição (NEW|USED|REFURBISHED)","value":"condition","type":"text","required":true,"rows":null},{"label":"Cidade","value":"city","type":"text","required":true,"rows":null},{"label":"UF","value":"uf","type":"text","required":true,"rows":null}],"formValue":{"title":"","description":"","condition":"","city":"","uf":""},"submit":"Cadastrar Item","cancel":"Cancelar","topic":"","topicType":"str","splitLayout":false,"className":"","x":140,"y":220,"wires":[["d3cf23ca6515a146"]]},{"id":"d3cf23ca6515a146","type":"function","z":"29d561e310460453","name":"validate & create item (prep)","func":"const p = msg.payload || {};\nconst categoryId = flow.get('selectedCategoryId');\n\nfunction error(message) {\n  node.status({ fill: 'red', shape: 'ring', text: message });\n  msg.payload = { ok: false, message };\n  return [null, msg];\n}\n\nif (!categoryId) return error('Selecione uma categoria');\nif (!p.title || p.title.length < 3) return error('Título inválido');\n\nconst cond = (p.condition || '').toUpperCase();\nif (!['NEW', 'USED', 'REFURBISHED'].includes(cond)) {\n  return error('Condição inválida');\n}\n\nnode.status({});\n\nmsg.body = {\n  title: p.title,\n  description: p.description || '',\n  lat: -22.9068,\n  lng: -43.1729,\n  category: categoryId,\n  condition: cond,\n  images: []\n};\n\nreturn [msg, null];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":220,"wires":[["70ab86540bede022"],["5315ad5292eb5c7c"]]},{"id":"70ab86540bede022","type":"function","z":"29d561e310460453","name":"prep POST /items","func":"const apiUrl = flow.get('apiUrl') || 'http://localhost:3000';\nconst accessToken = flow.get('accessToken');\n\nmsg.method = 'POST';\nmsg.url = apiUrl + '/items';\nmsg.headers = {\n  'Content-Type': 'application/json',\n  'Authorization': 'Bearer ' + accessToken\n};\n\nmsg.payload = msg.body;\ndelete msg.body;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":220,"wires":[["040fa7ec6a0a834f"]]},{"id":"040fa7ec6a0a834f","type":"http request","z":"29d561e310460453","name":"POST backend /items","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":880,"y":220,"wires":[["979d9fd3496d5e6e"]]},{"id":"979d9fd3496d5e6e","type":"function","z":"29d561e310460453","name":"handle create item","func":"const res = msg.payload || {};\n\nif (!res.success) {\n  msg.payload = {\n    type: 'error',\n    message: (res.error && res.error.message) || 'Erro ao criar item'\n  };\n  return [msg, null];\n}\n\nmsg.payload = {\n  type: 'success',\n  message: 'Item criado com sucesso'\n};\n\n// saída 0: toast\n// saída 1: trigger para recarregar lista\nreturn [msg, { payload: true }];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":220,"wires":[["5315ad5292eb5c7c"],[]]},{"id":"5315ad5292eb5c7c","type":"ui_toast","z":"29d561e310460453","position":"top right","displayTime":"3","outputs":0,"name":"OK","x":1390,"y":460,"wires":[]},{"id":"6459beefaf82d86e","type":"http in","z":"29d561e310460453","name":"GET /api/items (mock endpoint)","url":"/api/items","method":"get","upload":false,"swaggerDoc":"","x":150,"y":320,"wires":[["6dca67a778d5e3a2"]]},{"id":"6dca67a778d5e3a2","type":"function","z":"29d561e310460453","name":"read items (mock)","func":"msg.payload = flow.get('items') || [];\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":320,"wires":[["2f060ffc33204f64"]]},{"id":"d7874e703d1f1aa4","type":"http in","z":"29d561e310460453","name":"POST /api/items (mock endpoint)","url":"/api/items","method":"post","upload":false,"x":170,"y":360,"wires":[["f5f2fb1bb5f5b74a"]]},{"id":"f5f2fb1bb5f5b74a","type":"function","z":"29d561e310460453","name":"create item (mock)","func":"const p = msg.payload || {};\nif (!p.title) {\n  msg.statusCode = 400;\n  msg.payload = { ok: false };\n  return msg;\n}\n\nconst items = flow.get('items') || [];\nconst id = 'it-' + Date.now();\nconst now = new Date().toISOString();\n\nitems.unshift({\n  id,\n  title: p.title,\n  description: p.description || '',\n  images: p.images || [],\n  category_id: p.category_id || 'cat-eletronicos',\n  owner_id: p.owner_id || 'admin',\n  status: p.status || 'pending_review',\n  condition: p.condition || 'used',\n  location: p.location || { city: '', uf: '' },\n  created_at: now,\n  updated_at: now\n});\n\nflow.set('items', items);\nmsg.payload = { ok: true, id };\nreturn msg;","outputs":1,"x":400,"y":360,"wires":[["2f060ffc33204f64"]]},{"id":"ba436a8e7e61af4f","type":"inject","z":"29d561e310460453","name":"load users","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":120,"y":400,"wires":[["d276ba2e401887ba"]]},{"id":"6e5c768027ef14ce","type":"ui_table","z":"29d561e310460453","group":"36805995e310dc7d","name":"Usuários","order":1,"width":"12","height":"8","columns":[{"field":"id","title":"ID","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"name","title":"Nome","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"email","title":"Email","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"role","title":"Papel","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"created","title":"Criado em","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1060,"y":280,"wires":[]},{"id":"24575356189f5c29","type":"ui_form","z":"29d561e310460453","name":"Novo Usuário","label":"Novo Usuário","group":"87d5435f695ff054","order":1,"width":"12","height":"5","options":[{"label":"Nome","value":"name","type":"text","required":true,"rows":null},{"label":"Email","value":"email","type":"text","required":true,"rows":null},{"label":"Papel (user|admin)","value":"role","type":"text","required":true,"rows":null}],"formValue":{"name":"","email":"","role":""},"submit":"Cadastrar Usuário","cancel":"Cancelar","topic":"","topicType":"str","splitLayout":false,"className":"","x":130,"y":460,"wires":[["274835d775e879ec"]]},{"id":"274835d775e879ec","type":"function","z":"29d561e310460453","name":"create user","func":"const p=msg.payload||{}; if(!p.name||!p.email) return {payload:{ok:false}};\nconst users=flow.get('users')||[]; const id='u-'+Date.now(); const now=new Date().toISOString();\nusers.unshift({id,name:p.name,email:p.email,role:(p.role==='admin'?'admin':'user'),status:'active',created_at:now});\nflow.set('users',users); return [{payload:{ok:true,id}},null];","outputs":2,"x":330,"y":460,"wires":[["5315ad5292eb5c7c"],[]]},{"id":"13f818effbad0d67","type":"http in","z":"29d561e310460453","name":"GET /api/users (mock)","url":"/api/users","method":"get","upload":false,"x":120,"y":520,"wires":[["235a6f9bd2a1e9a1"]]},{"id":"235a6f9bd2a1e9a1","type":"function","z":"29d561e310460453","name":"read users (mock)","func":"msg.payload=flow.get('users')||[]; return msg;","outputs":1,"x":330,"y":520,"wires":[["2f060ffc33204f64"]]},{"id":"7e7a18fa1bc0f639","type":"http in","z":"29d561e310460453","name":"POST /api/users (mock)","url":"/api/users","method":"post","upload":false,"x":130,"y":560,"wires":[["a7d6832bdfd09ce4"]]},{"id":"a7d6832bdfd09ce4","type":"function","z":"29d561e310460453","name":"create user (mock)","func":"const p=msg.payload||{}; if(!p.name||!p.email){msg.statusCode=400; msg.payload={ok:false}; return msg;}\nconst users=flow.get('users')||[]; const id='u-'+Date.now(); const now=new Date().toISOString();\nusers.unshift({id,name:p.name,email:p.email,role:(p.role==='admin'?'admin':'user'),status:'active',created_at:now}); flow.set('users',users); msg.payload={ok:true,id}; return msg;","outputs":1,"x":360,"y":560,"wires":[["2f060ffc33204f64"]]},{"id":"98cc4954ca1471c1","type":"inject","z":"29d561e310460453","name":"load cats","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"","payloadType":"date","x":120,"y":640,"wires":[["9cbf4ebbb861a274"]]},{"id":"9cbf4ebbb861a274","type":"function","z":"29d561e310460453","name":"prep GET /category","func":"const apiUrl = flow.get('apiUrl') || 'http://localhost:3000';\n\nmsg.method = 'GET';\nmsg.url = apiUrl + '/category';\nmsg.headers = {};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":640,"wires":[["6793cccf8ba246eb"]]},{"id":"6793cccf8ba246eb","type":"http request","z":"29d561e310460453","name":"GET backend /category","method":"use","ret":"obj","paytoqs":"ignore","url":"","persist":false,"authType":"","senderr":false,"x":520,"y":640,"wires":[["4c33358994be1ccd","dff431766c5ebbc1"]]},{"id":"4c33358994be1ccd","type":"function","z":"29d561e310460453","name":"cats → table","func":"const res = msg.payload || {};\nconst cats = res.data || [];\n\nmsg.payload = cats.map(c => ({\n  id: c.id,\n  name: c.name,\n  enabled: true\n}));\nreturn msg;","outputs":1,"x":920,"y":700,"wires":[["361a46736f0f6892"]]},{"id":"361a46736f0f6892","type":"ui_table","z":"29d561e310460453","group":"6c77f268b5db1abd","name":"Categorias","order":1,"width":"12","height":"6","columns":[{"field":"id","title":"ID"},{"field":"name","title":"Nome"},{"field":"enabled","title":"Ativa"}],"outputs":0,"x":1110,"y":700,"wires":[]},{"id":"db6f8cd1df9d78ef","type":"ui_form","z":"29d561e310460453","name":"Nova Categoria","label":"Nova Categoria","group":"170c4602f5ea350f","order":1,"width":"12","height":"4","options":[{"label":"Nome","value":"name","type":"text","required":true,"rows":null}],"formValue":{"name":""},"submit":"Cadastrar Categoria","cancel":"Cancelar","topic":"","topicType":"str","splitLayout":false,"className":"","x":140,"y":760,"wires":[["7ea4aafd79b4f9cf"]]},{"id":"7ea4aafd79b4f9cf","type":"function","z":"29d561e310460453","name":"create cat (prep)","func":"const p = msg.payload || {};\nif (!p.name) {\n  msg.payload = { ok: false, message: 'Nome obrigatório' };\n  return [null, msg];\n}\n\nmsg.body = {\n  name: p.name,\n  description: ''\n};\n\nreturn [msg, null];","outputs":2,"x":360,"y":760,"wires":[["27b4e4fb3a450f64"],["5315ad5292eb5c7c"]]},{"id":"27b4e4fb3a450f64","type":"function","z":"29d561e310460453","name":"prep POST /category","func":"const apiUrl = flow.get('apiUrl') || 'http://localhost:3000';\nconst accessToken = flow.get('accessToken');\n\nmsg.method = 'POST';\nmsg.url = apiUrl + '/category';\nmsg.headers = {\n  'Content-Type': 'application/json',\n  'Authorization': 'Bearer ' + accessToken\n};\n\nmsg.payload = msg.body;\ndelete msg.body;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":760,"wires":[["116d1a21898e1db2"]]},{"id":"116d1a21898e1db2","type":"http request","z":"29d561e310460453","name":"POST backend /category","method":"use","ret":"obj","paytoqs":"ignore","url":"","persist":false,"authType":"","senderr":false,"x":860,"y":760,"wires":[["b1643a0286042b8e"]]},{"id":"b1643a0286042b8e","type":"function","z":"29d561e310460453","name":"handle create cat","func":"const res = msg.payload || {};\n\nif (!res.success) {\n  msg.payload = {\n    type: 'error',\n    message: (res.error && res.error.message) || 'Erro ao criar categoria'\n  };\n  return [msg, null];\n}\n\nmsg.payload = {\n  type: 'success',\n  message: 'Categoria criada com sucesso'\n};\n\nreturn [msg, { payload: true }];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":760,"wires":[["5315ad5292eb5c7c"],["98cc4954ca1471c1"]]},{"id":"c36e54c94284041b","type":"ui_button","z":"29d561e310460453","name":"Ativar/Desativar (mock)","group":"6c77f268b5db1abd","order":2,"width":"4","height":"1","label":"Ativar/Desativar","x":170,"y":820,"wires":[["0557ca3f3494ce2e"]]},{"id":"0557ca3f3494ce2e","type":"function","z":"29d561e310460453","name":"toggle cat (mock)","func":"const cats=flow.get('categories')||[]; const id=(cats[0]&&cats[0].id)||null; if(!id) return null; const c=cats.find(x=>x.id===id); if(c){c.enabled=!c.enabled; flow.set('categories',cats);} return {payload:true};","outputs":1,"x":360,"y":820,"wires":[["5315ad5292eb5c7c"]]},{"id":"dec4837ff0fbb629","type":"http in","z":"29d561e310460453","name":"GET /api/categories (mock)","url":"/api/categories","method":"get","upload":false,"x":150,"y":880,"wires":[["9a6c396b34df1bd6"]]},{"id":"9a6c396b34df1bd6","type":"function","z":"29d561e310460453","name":"read cats (mock)","func":"msg.payload=flow.get('categories')||[]; return msg;","outputs":1,"x":360,"y":880,"wires":[["2f060ffc33204f64"]]},{"id":"c673c09fb3635925","type":"http in","z":"29d561e310460453","name":"POST /api/categories (mock)","url":"/api/categories","method":"post","upload":false,"x":160,"y":920,"wires":[["04f4a132035233d9"]]},{"id":"04f4a132035233d9","type":"function","z":"29d561e310460453","name":"create cat (mock)","func":"const p=msg.payload||{}; if(!p.name){msg.statusCode=400; msg.payload={ok:false}; return msg;}\nconst cats=flow.get('categories')||[]; const id='cat-'+Date.now(); cats.unshift({id,name:p.name,enabled:!!p.enabled}); flow.set('categories',cats); msg.payload={ok:true,id}; return msg;","outputs":1,"x":390,"y":920,"wires":[["2f060ffc33204f64"]]},{"id":"2f060ffc33204f64","type":"http response","z":"29d561e310460453","name":"","x":620,"y":320,"wires":[]},{"id":"03774ce20a75a769","type":"debug","z":"29d561e310460453","name":"debug 1","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":40,"wires":[]},{"id":"61dbc2e8224c2b0c","type":"inject","z":"29d561e310460453","name":"load category","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["20921036ba183d4c"]]},{"id":"20921036ba183d4c","type":"function","z":"29d561e310460453","name":"prep GET /category","func":"const apiUrl = flow.get('apiUrl') || 'http://localhost:3000';\nconst access = flow.get('accessToken');\n\nmsg.method = 'GET';\nmsg.url = 'http://host.docker.internal:3000/category';\n\nmsg.headers = {};\nif (access) {\n    msg.headers.Authorization = 'Bearer ' + access;\n}\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":160,"wires":[["4d6917df60a9cc4f"]]},{"id":"4d6917df60a9cc4f","type":"http request","z":"29d561e310460453","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"bearer","senderr":false,"headers":[],"x":590,"y":160,"wires":[["87705f1573bd0fd5"]]},{"id":"87705f1573bd0fd5","type":"debug","z":"29d561e310460453","name":"debug 2","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":160,"wires":[]},{"id":"386b99b8924c82f8","type":"debug","z":"29d561e310460453","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":520,"wires":[]},{"id":"d276ba2e401887ba","type":"function","z":"29d561e310460453","name":"prep GET /users","func":"const apiUrl = flow.get('apiUrl') || 'http://localhost:3000';\nconst access = flow.get('accessToken');\n\nmsg.method = 'GET';\nmsg.url = 'http://host.docker.internal:3000/users/'\n\nmsg.headers = {};\nif (access) {\n    msg.headers.Authorization = 'Bearer ' + access;\n}\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":400,"wires":[["c9acde298bd86b88"]]},{"id":"c9acde298bd86b88","type":"http request","z":"29d561e310460453","name":"GET backend /items","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"bearer","senderr":false,"headers":[],"x":660,"y":420,"wires":[["fa23690af5ac1361"]]},{"id":"fa23690af5ac1361","type":"function","z":"29d561e310460453","name":"items → table","func":"const res = msg.payload || {};\nconst data = res.data || {};\nconst users = data || [];\n\nmsg.payload = users.map(i => ({\n  id: i.id,\n  name: i.name,\n  email: i.email,\n  role: i.role,\n  created: i.createdAt\n}));\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":380,"wires":[["6e5c768027ef14ce","386b99b8924c82f8"]]},{"id":"77d03907e65d46b6","type":"inject","z":"5d0dca05a865b19f","name":"seed","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"{}","payloadType":"json","x":130,"y":100,"wires":[["b7d099dcecc2582b"]]},{"id":"b7d099dcecc2582b","type":"function","z":"5d0dca05a865b19f","name":"seed data (config backend + users)","func":"const now = new Date().toISOString();\n\n// configura backend\nflow.set('apiUrl', 'http://localhost:3000');\n\n// ATENÇÃO: cole aqui um accessToken válido (admin ou user)\nflow.set('accessToken', 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjbWhqbzgxcHcwMDBmcnYzbnBzNm50eml6IiwiaWF0IjoxNzYyMjE1MTEwLCJleHAiOjE3NjIyMTYwMTB9.zwUsUaBfDthXRFuh5sS8mJYB9uo9vVhlUXE-4VD-H1s');\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":100,"wires":[["810b4913251acd91"]]},{"id":"d5d5c5de96024515","type":"inject","z":"5d0dca05a865b19f","name":"load items","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["633d801a2fda3795"]]},{"id":"633d801a2fda3795","type":"function","z":"5d0dca05a865b19f","name":"prep GET /items","func":"const apiUrl = flow.get('apiUrl') || 'http://localhost:3000';\nconst access = flow.get('accessToken');\n\nmsg.method = 'GET';\nmsg.url = 'http://host.docker.internal:3000/items?page=1&limit=10';\n\nmsg.headers = {};\nif (access) {\n    msg.headers.Authorization = 'Bearer ' + access;\n}\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":160,"wires":[["e024dad16e775324"]]},{"id":"e024dad16e775324","type":"http request","z":"5d0dca05a865b19f","name":"GET backend /items","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":550,"y":160,"wires":[["5fae35f227225b2f"]]},{"id":"5fae35f227225b2f","type":"function","z":"5d0dca05a865b19f","name":"items → table","func":"const res = msg.payload || {};\nconst data = res.data || {};\nconst items = data.items || [];\n\nmsg.payload = items.map(i => ({\n  id: i.id,\n  title: i.title,\n  category: i.categoryId || (i.category && i.category.name) || null,\n  status: i.status,\n  created: i.createdAt\n}));\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":160,"wires":[["0f1e9c3ac93bcbc2"]]},{"id":"810b4913251acd91","type":"debug","z":"5d0dca05a865b19f","name":"debug 3","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":100,"wires":[]},{"id":"0f1e9c3ac93bcbc2","type":"debug","z":"5d0dca05a865b19f","name":"debug 4","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":160,"wires":[]}]